{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Créer une sortie</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form_row(form.nom) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.dateHeureDebut) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.dateLimiteInscription) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.nbInscriptionMax) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.duree) }}
                </div>
                <div class="mb-3">
                    {{  form_row(form.lieu) }}
                </div>
            </div>

        </div>

        <div class="mb-3">
            {{ form_row(form.infosSortie) }}
        </div>

        <div class="text-center mt-4">
            <button type="submit" name="action" value="enregistrer" class="btn btn-secondary me-2">Enregistrer</button>
            <button type="submit" name="action" value="publier" class="btn btn-primary me-2">Publier</button>
            <a href="{{ path('app_sortie') }}" class="btn btn-outline-secondary">Retour à la liste</a>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
