{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {# tableau de correspondance de l'action "afficher" selon l'etat de la sortie #}
            {% set lienAffiche = ['En création','En cours','Terminée','Annulée','Historisée','Clôturée'] %}

            {% for sortie in sorties %}
                <tr>
                    <th>{{ sortie.nom }}</th>
                    <th>{{ sortie.dateHeureDebut | date('d/m/Y H:i')}}</th>
                    <th>{{ sortie.dateLimiteInscription | date('d/m/Y')}}</th>
                    <th>{{ sortie.inscrits | length }} / {{ sortie.nbInscriptionMax }}</th>
                    <th>{{ sortie.etat ? sortie.etat.libelle : ""}}</th>
                    <th>{% if app.user and app.user in sortie.inscrits %} X {% endif %}</th>
                    <th><a href="{{ path('app_profil', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom ~ ' ' ~ sortie.organisateur.prenom }}</a></th>
                    <th>
                        {% if sortie.etat and sortie.etat.libelle in lienAffiche %}
                            <a href="{{ path('app_sortie_afficher', {'id': sortie.id}) }}">Afficher</a>
                        {% endif %}
                        {% if sortie.etat and sortie.etat.libelle == 'En création' %}
                            <a href="{{ path('app_sortie_supprimer', {'id': sortie.id}) }}">Supprimer</a>
                            <a href="{{ path('app_sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
                            <a href="{{ path('app_sortie_publier', {'id': sortie.id}) }}">Publier</a>
                        {% endif %}
                        {% if sortie.etat and sortie.etat.libelle == 'Ouverte' %}
                            <a href="{{ path('app_sortie_sinscrire', {'id': sortie.id}) }}">S'inscrire</a>
                            <a href="{{ path('app_sortie_desister', {'id': sortie.id}) }}">Se désister</a>
                        {% endif %}
                        {% if sortie.etat and sortie.etat.libelle == 'Clôturée' and app.user and app.user in sortie.inscrits %}
                            <a href="{{ path('app_sortie_desister', {'id': sortie.id}) }}">Se désister</a>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_sortie_creer') }}">Créer une sortie</a>
{% endblock %}
